body {
  margin: 0;
  background-color: rgb(170, 172, 198);
}

.sidenav ul {
  top: 120px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(131, 134, 170);
  position: fixed;
  width: 160px;
  height: 100%;
  overflow: auto;
}

.sidenav li {
  float: left;
}

.sidenav li a {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  display: block;
  color: whitesmoke;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.sidenav li a.active {
  background-color: #04AA6D;
  color: white;
}

.sidenav li a:hover:not(.active) {
  color: rgba(240, 248, 255, 0.671);
}

.target {
  width: 400px;
  height: 500px;
  border: 2px solid floralwhite;
  background: #ffffff;
  position: fixed;
  top: 160px;
  right: 50px;
}

.outfitContent {
  margin-left: 160px;
  padding: 1px 16px;
  overflow: scroll;
  width: 50%;
  border-collapse: collapse;
  height: 700px;
}