body{
  user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  background-image: url("backgroundImg.jpeg");
	background-color: rgb(170, 172, 198);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

html {
  display: table;
  margin: auto;
  height: 80%;
}
/* 
.box {
  position: relative; 
  width: 400px;
  align-items: center;
  background-color: rgb(170, 172, 198, 0.8);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
} */

input[type=text], input[type=password] {
  width: 92%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(232, 238, 253, 0.5);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Optima, sans-serif;
  font-size: 40px;
  color: rgba(255, 255, 255);
}
p {
  text-align: center;
  font-family: Optima, sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255,0.8);
}
button {
  -webkit-appearance: none; 
  width: 150px;
  min-width: 100px;
  border-radius: 24px; 
  text-align: center; 
  padding: 15px 40px;
  margin-top: 5px; 
  background-color:rgb(110, 116, 173); 
  color: #fff; 
  font-size: 14px;
  margin-left: auto; 
  font-weight: 500; 
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,.13); 
  border: none;
  transition: all .3s ease; 
  outline: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}

.existinguser{
  background-color: aliceblue;
}

label{
  color: aliceblue;
  font-family: Optima, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: lighter;
}