<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/homepage.js" defer></script>
  <title>Home page</title>
</head>

<body>

  <div>

    <% results.forEach(function(r) { %>
    <li>  <%= r.id %> - <br><img src="<% r.images %>" width="200" height="200" alt="<%=r.images %>"></li> 
        <% }); %>

  </div>
  <form class="" action="/uploadImage" method="post">
    <div>

    </div>
    <div>
    </div>
    <div>
      <form class="" action="/uploadImage" method="post">
        <div><img id="outputImage" width="200" height="200" /></div>

        <input type="file" accept="image/*" onchange="showimg(event)" name="upImg">
        <br>
        <input type="submit" value="upload">

    </div>
  </form>


</body>

</html>