<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>
  <h1>ICloset</h1>
  <%- include ("../partials/pageNav.ejs") %>
  <div>
    <form action="/userlogout" method="get">
      <div>
        <input type="submit" value="logout">
      </div>
    </form>
  </div>
  
  <div>

    <% results.forEach(function(r) { %>
      <li>
        <%= r.umail %> - <br><img src="data:image/gif;base64,<% r.images %>" width="200" height="200" alt="<%=r.imagename %>">
      </li>
      <% }); %>
      <a href="./uploadimg.html">upload image</a>
  </div>

</body>

</html>