<!DOCTYPE html>
<html>
<head>
</head>
<style>
  .main {
    top: 145px;
    left: 210px;
    position: fixed;
  }
  .style{
    border: 5px solid #555;
  }
</style>
<body>
  <%- include ("../partials/pageNav.ejs") %>

  <div class="main">
    <h2>My Styles</h2>
      <div class="styles" id="styles-img">
        <% if(results.length>0){%>
            <% results.forEach(function(r) { %>
              <img class="style" src="<%= r.collageimg %>" style="padding: 15px;"
                width="200" height="200" alt="<%= r.collageid %>"> 
              <figcaption>style id: <%= r.collageid %></figcaption>
              <% }); %>
          <% };%>
      </div>
      
    </ul>
    
  </div>

</body>
</html>