<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Outfit Collages</title>
  <style>
    body {
      margin: 0;
      background-color: rgb(170, 172, 198);
    }

    .sidenav ul {
      list-style-type: non;
      margin: 0;
      padding: 0;
      width: 160px;
      background-color: rgb(131, 134, 170);
      position: fixed;
      height: 100%;
      overflow: auto;
    }

    .sidenav li a {
      display: block;
      color: whitesmoke;
      padding: 15px 25px;
      text-decoration: none;
    }

    .sidenav li a.active {
      background-color: #04AA6D;
      color: white;
    }

    .sidenav li a:hover:not(.active) {
      color: rgba(240, 248, 255, 0.671);
    }

    .source {
      width: 75px;
      height: 75px;
      border: 1px solid black;
      background: crimson;
      position: absolute;
      top: 250px;
      left: 200px;
    }

    .target {
      width: 400px;
      height: 500px;
      border: 2px solid floralwhite;
      background: #ddd9f5;
      position: fixed;
      top: 160px;
      right: 50px;
    }
    .outfitContent{
    margin-left: 160px ;
    padding:1px 16px;
    overflow:scroll;
    width:50%;
    border-collapse: collapse;
    height:700px;
    }
    
    </style>
</head>

<script src="https://unpkg.com/konva@8/konva.min.js"></script>
<body>
  
  <%- include ("../partials/pageNav.ejs") %>
  
  <div class = "sidenav">

    <!-- Fixed Full-Height Side Bar -->
    <!-- 
      <canvas id="collage-canvas" width="200" height="100" style="border:1px solid #000000;">
      </canvas>
    -->

      <ul>
        <li><a href="" onclick="changeCategory">Shirts</a></li>
        <li><a href="#coats">Coats</a></li>
        <li><a href="#suits">Suits</a></li>
        <li><a href="#sweaters">Sweaters</a></li>
        <li><a href="#pans">Pants</a></li>
        <li><a href="#jeans">Jeans</a></li>
        <li><a href="#shoes">Shoes</a></li>
        <li><a href="#bags">Bags</a></li>
        <li><a href="#accessories">Accessories</a></li>
        <li><a href="#others">Others</a></li>
      </ul>
  </div>
  <br><br><br><br><br><br><br>
        <h2 style ="margin-left: 200px ;">Hello, <%=currentuids[0].uname%></h2>
        <p style ="margin-left: 200px ;" >Click &darr; &darr; &darr; to add clothes!!!</p>
        <a href="./uploadimg"><img src="/uploads/add-photo-icon.jpg" alt="upload image" style="width:200px;height:200px;margin-left: 200px ;"></a></p>
  <div class="outfitContent" draggable="true" >
                  <% if(results.length>0){%>  
            <table>            
              <% var count = 0; %>
              <tr>
              <% results.forEach(function(r) { %>
                <%  count++;%>                
                
                  <td style="padding: 20px;"><img src="data:image/gif;base64,<%= r.txtimg %>" draggable="true" class="imageDraggable" width="200" height="200" alt=""> </td>                  
                    <% if(count%4==0){%>
                    </tr><tr>
                    <% } %>
              <% }); %>                                        
                       </tr>     
            </table>
          <% };%>
          <% if(results.length==0){%>  
          </table>
            <%};%>
  </div>
  <div id="target" class="target"></div>
  
  
  
</body>
</html>

<script>
  const width = window.innerWidth;
  const height = window.innerHeight;
  const stage = new Konva.Stage({
      container: 'target',
      width: 600,
      height: 600,
  });
  const layer = new Konva.Layer();
  stage.add(layer);

  var images = document.getElementsByClassName("imageDraggable");
  // for (var i = 0; i < images.length; i++) {
  //   images[i].addEventListener('dragstart', (e) => {
  //     e.dataTransfer.setData('text/plain', e.target.id);
  //     //the dragged item will become less solid
  //     e.target.style.opacity = 0.3;
  //   })
  // };

  // for (var i = 0; i < images.length; i++) {
  //   images[i].addEventListener('dragend', (e) => {
  //     e.dataTransfer.setData('text/plain', e.target.id);
  //     //the dragged item will become less solid
  //     e.target.style.opacity = 1;
  //   })
  // };

  for (var i = 0; i < images.length; i++) {
    images[i].addEventListener('click', (e) => {
      const image = e.target;
      var darthVaderImg = new Konva.Image({
        image: image,
        x: Math.random() * stage.width() / 2,
        y: Math.random() * stage.width() / 2,
        width: 200,
        height: 137,
        draggable: true,
        name: 'image',
      });
      // add cursor styling
      darthVaderImg.on('mouseover', function () {
        document.body.style.cursor = 'pointer';
      });
      darthVaderImg.on('mouseout', function () {
        document.body.style.cursor = 'default';
      });

      const tr = new Konva.Transformer({
        node: darthVaderImg
      });
      layer.add(tr);
      const deleteButton = new Konva.Circle({
        radius: 10,
        fill: 'red'
      });
      tr.add(deleteButton);
      function updatePos() {
        deleteButton.position(tr.findOne('.top-right').position());
      }
      deleteButton.on("mouseup", function(e) {
        tr.remove();
        darthVaderImg.remove();
        layer.draw();
      });
      updatePos();
      darthVaderImg.on('transform', updatePos);

      stage.on('click tap', function (e) {
        // if click on empty area - remove all selections
        if (e.target === stage) {
          tr.nodes([]);
          return;
        }

        // do nothing if clicked NOT on our images
        if (!e.target.hasName('image')) {
          return;
        }

        const isSelected = tr.nodes().indexOf(e.target) >= 0;

        if (!isSelected) {
          // if no key pressed and the node is not selected
          // select just one
          tr.nodes([e.target]);
        }
      });

      layer.add(darthVaderImg);
      // layer.draw();
    })
  };
     
  // changeCategory = function(event) {
  //   category; // which category is selected?
  //   result = query("select * from ddd where umail = and category = ''")
  //   const b = "<ul>"
  //   result.rows.forEach(item => {
  //     b += "<li> item.name </li>"
  //   });
  //   b += "</ul>";

  //   const a = document.getElementById("div2");
  //   a.innerHTML = b; // sets or returns the content (innerHTML) of the selected elements. 
  // }


</script>