<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iCloset-main User List</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css">
    <style type="text/css">
    .nav {
        background: #A10948;
    }
    .nav .fa {
        font-size: 38px;
    }
    .nav-item {
        display: inline-block;
        line-height: 60px;
        height: 60px;
        font-family: sans-serif;
        color: #EEE;
        padding: 0 5px;
    }
    .nav-item:hover {
        background: #AAA;
    }
    .container {
        width: 80%;
        margin: auto;
    }
    </style>
</head>
<body>
    <div class="nav">
        <ul>
            <li class="nav-item">
                <a href="/"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/user-list">USERS</a>
            </li>
        </ul>
    </div>
    <div>
        <form action="/userlogout" method="get">
          <div>
            <input type="submit" value="logout">
          </div>
        </form>
      </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
